@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    height: 10vh;
    width: 100%;
    background-color: transparent;
    background-color: rgba(70, 36, 99, .7);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 90vh; */
    background-color: antiquewhite;
}

.container h1{
    margin-top: 20px;
}

.line{
    width: 6%;
    height: .3vh;
    background-color: purple;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-sec{
    width: 80%;
    height: 80vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post1{
    width: 30%;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}

.post1:hover{
    box-shadow: 0px 0px 6px 6px rgba(255, 136, 0, 0.25);
    height: 95%;
    
}

.post2:hover{
    box-shadow: 0px 0px 6px 6px rgba(0, 68, 255, 0.25);
    height: 95%;
}

.post3:hover{
    box-shadow: 0px 0px 6px 6px rgba(238, 255, 0, 0.25);
    height: 95%;
}

.post1 h2{
    margin-top: 10px;
}

.post1 a{
    text-decoration: none;
    color: white;
    padding: 6px 20px;
    background-color: rgb(180, 146, 102);
    margin-top: 20px;
    border-radius: 4px;
}

.date1{
    margin-top: 10px;
    color: rgb(209, 160, 53);
    font-weight: bold;
}

.post-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.post1 img{
    height: 40%;
}

.post2 img{
    height: 40%;
}

.post2 h2{
    margin-top: 10px;
}

.post2 a{
    text-decoration: none;
    color: white;
    padding: 6px 20px;
    background-color: rgb(180, 146, 102);
    margin-top: 20px;
    border-radius: 4px;
}

.date2{
    margin-top: 10px;
    color: rgb(209, 160, 53);
    font-weight: bold;
}

.post2{
    width: 30%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}

.post3{
    width: 30%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}

.post3 img{
    height: 40%;
}

.post3 h2{
    margin-top: 10px;
    
}

.post3 a{
    text-decoration: none;
    color: white;
    padding: 6px 20px;
    background-color: rgb(180, 146, 102);
    margin-top: 20px;
    border-radius: 4px;
}

.date3{
    margin-top: 10px;
    color: rgb(209, 160, 53);
    font-weight: bold;
}