@media screen and (max-width: 991px) {
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    li{
        display: none;
    }

    .project-btn{
        display: none;
    }
}